*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 10px;

}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
}

#displayvalue{
    border: 1px solid black;
    font-size: 25px;
    padding: 5px 15px;
}